@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tagesschrift&display=swap");
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(130, 43, 43);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*?------------------------body-----------------------*/
body {
  background-color: #717070;
  font-family: "Tagesschrift", system-ui;
  font-family: "Edu SA Hand", cursive !important;
}

header {
  background-color: black !important;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 60px;
  width: 70px;
}

.logo {
  color: rgb(130, 43, 43) !important;
  font-size: 35px !important;
  font-family: "Tagesschrift", system-ui !important;
  display: inline;
  text-align: left;
}

.logo::first-letter {
  color: rgb(77, 75, 75);
}

nav ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

nav ul li {
  display: inline;
  margin: 7px;
}

nav ul li a:hover {
  color: rgb(156, 156, 156);
  transition: 0.6s;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  /* total - nav */
  position: relative;
}

.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.hero .hero-content h1 {
  color: rgba(255, 255, 255, 0.696);
  display: block;
  background-color: rgba(0, 0, 0, 0.374);
  padding: 0.2rem;
  margin: 0;
}

.hero .hero-content p {
  color: rgba(255, 255, 255, 0.696);
  background-color: rgba(0, 0, 0, 0.374);
  padding: 5px;
  margin: 0;
}

.hero .hero-content a {
  color: rgba(255, 255, 255, 0.696);
}

.hero .hero-content a:hover {
  color: black;
  transition: 0.6s;
  background-color: rgb(130, 43, 43);
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
}

.historia {
  background-color: rgb(21, 15, 15);
  display: flex;
  flex-direction: column;
}

.historia h2 {
  color: rgb(130, 43, 43);
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding: 10px 0 5px 0;
  font-weight: 700;
}

.historia p {
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10px;
}

.grid-section {
  background-color: rgb(77, 75, 75);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 5px;
  padding: 5px;
}

.grid-item {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-section div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-2 {
  grid-column: span 2;
}

.img-4 {
  grid-row: span 2;
}

.img-5 {
  grid-column: span 2;
}

.img-6 {
  grid-row: span 2;
}

.productos {
  min-height: 50vh;
  padding-bottom: 20px;
  background-color: rgb(77, 75, 75);
}

.productos .card-contenedor {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.productos h2 {
  font-weight: 700;
  color: black;
  -webkit-text-stroke: 2px rgb(130, 43, 43);
  display: flex;
  justify-content: center;
  background-color: rgb(77, 75, 75);
  margin: 0;
  text-align: center;
  padding: 10px 5px 5px 5px;
}

.card-contenedor div {
  width: 150px;
  height: 220px;
  background-color: #000000;
  border: 2px solid rgb(0, 0, 0);
  padding: 3px;
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
}

.card-contenedor div:hover {
  transform: scale(1.1);
  box-shadow: 10px 9px 20px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 9px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 20px -6px rgba(0, 0, 0, 0.75);
}

.card-contenedor img {
  width: 100%;
  height: 150px;
}

.card-contenedor h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 6px;
  font-size: 20px;
  margin: 0;
}

.card-contenedor a {
  color: white;
  text-align: center;
}

.card-contenedor a:hover {
  color: rgb(130, 43, 43);
}

/*?----------------------footer----------------------*/
footer {
  background-color: black;
  height: 40px;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer a img {
  height: 20px;
}

/*?----------------------Pagina Nosotros------------------*/
.nosotros {
  display: flex;
  background-image: url(../img/page-nosotros/pngtree-vintage-black-brick-wall-a-background-perfect-for-3d-rendering-and-picture-image_5575471.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 100px);
  justify-content: space-evenly;
  flex-direction: column;
}

.nosotros p {
  color: white;
  text-align: center;
  padding: 10px;
}

.nosotros-img {
  display: flex;
  justify-content: space-evenly;
  margin: 3px;
}

/*?----------------------Pagina Productos------------------*/
/* .page_productos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page_productos main {
  flex: 1;
} */
.parrafo-productos-page {
  background-color: rgba(152, 21, 21, 0.696);
  text-align: center;
}

.parrafo-productos-page p {
  margin: 0;
  padding: 5px;
  font-weight: 700;
}

.slide .carousel-indicators button {
  filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel-item h5 {
  color: black;
  margin-bottom: 15px;
}

.carousel-caption {
  text-align: right;
}

.d-none div {
  display: inline-block;
  transition: 0.6s;
}

.d-none div a {
  display: inline;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1px 15px;
  background-color: rgb(130, 43, 43);
  border-radius: 5px;
  margin-right: 40px;
}

.d-none a:hover {
  color: black;
}

.d-none div:hover {
  transform: scale(1.1);
}

.carousel-indicators {
  margin: 0;
}

.carousel .carousel-control-prev {
  margin: 0;
  background-color: transparent;
  filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel .carousel-control-next {
  margin: 0;
  background-color: transparent;
  filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.descripcion p {
  background-color: rgba(152, 21, 21, 0.696);
  text-align: center;
  margin: 0;
  padding: 15px;
  font-weight: 700;
}

.logos-productos .logos {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  align-items: center;
  background-color: rgba(152, 21, 21, 0.696);
}

.logos img {
  border-radius: 10px;
}

/*?----------------------Pagina Contacto------------------*/
.container {
  max-width: 700px;
  margin: 20px auto;
  background: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #717070;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 15px;
  color: #717070;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  margin-top: 20px;
  background-color: #717070;
  color: rgb(255, 254, 251);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(130, 43, 43);
}

.contact-info {
  margin-top: 40px;
  text-align: center;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
  color: rgb(130, 43, 43);
}

.contact-info a {
  color: #717070;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/*?----------------------Pagina Comprar------------------*/
.carrito-section-page {
  background-color: rgb(77, 75, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.contenido {
  max-width: 1000px;
  text-align: center;
}

.contenido h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-top: 10px;
}

.tienda {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.producto {
  background: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.producto button {
  background-color: rgb(130, 43, 43);
  margin-top: 10px;
  padding: 5px 10px;
}

.producto h3 {
  font-size: 18px;
  color: white;
}

.producto p {
  margin: 5px 0;
  color: white;
}

.carrito {
  padding: 20px;
  border: 2px dashed #333;
  background: #000000;
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}

.eliminar {
  background-color: rgb(130, 43, 43);
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 3px;
  cursor: pointer;
}

.carrito h3 {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.lista-carrito {
  color: white;
}

.lista-carrito li {
  padding-bottom: 3px;
}

.carrito p {
  color: white;
  text-align: center;
  padding-top: 5px;
}

/*!----------------------Media Qwery------------------*/
@media screen and (max-width: 1200px) {
  .logos img {
    transform: scale(90%);
  }
}
@media screen and (max-width: 1120px) {
  .nosotros-img {
    flex-wrap: wrap;
  }
  .nosotros-img div img {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .logos-productos .logos {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .hero p {
    text-align: center;
  }
}
@media screen and (max-width: 877px) {
  .historia p {
    font-size: 13px;
  }
}
@media screen and (max-width: 780px) {
  .card-contenedor h3 {
    font-size: 15px;
  }
  .card-contenedor a {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .d-none {
    display: block !important;
  }
}
@media screen and (max-width: 752px) {
  header {
    flex-direction: column;
    height: 90px;
  }
}
@media screen and (max-width: 735px) {
  .card-contenedor h3 {
    font-size: 13px;
  }
}
@media screen and (max-width: 635px) {
  header {
    height: 100px;
  }
}
@media screen and (max-width: 558px) {
  .hero h1 {
    text-align: center;
    font-size: 22px;
  }
  .productos .card-contenedor {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  header {
    justify-content: flex-start;
  }
  .header-logo {
    flex-direction: row-reverse;
  }
  .nosotros-img .img-two {
    width: 300px;
    height: 100px;
  }
  .carousel-item img {
    height: 250px;
  }
  .carousel-item h5 {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .d-none div a {
    margin-right: 20px;
    padding: 2px 5px;
  }
}
@media screen and (max-width: 420px) {
  nav ul li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 403px) {
  .logo {
    font-size: 35px;
  }
  .hero-content p {
    font-size: 13px;
  }
}
@media screen and (max-width: 364px) {
  nav ul li a {
    font-weight: 300;
    font-size: 11px;
    margin: 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
