/*?----------------------Pagina Productos------------------*/

/* .page_productos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page_productos main {
  flex: 1;
} */

.parrafo-productos-page {
    background-color: rgba(152, 21, 21, 0.696);
    text-align: center;
}

.parrafo-productos-page p {
    margin: 0;
    padding: 5px;
}

.slide .carousel-indicators button {
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel-item h5,
p {
    color: black;
}

.d-none a  {
    text-decoration: none;
    color: rgb(156, 156, 156);
    font-weight: 100;
    padding: 1px 15px;
    background-color: rgb(130, 43, 43);
    border-radius: 5px;
    margin: 0 10px;
    
}

// .d-none a:hover {
//     transition: 0.6s;
//     transform: scale(1.2);
// }

.carousel-indicators {
    margin: 0;
}

.carousel-indicators button {
    margin: 0;
}

.carousel .carousel-control-prev {
    margin: 0;
    background-color: transparent;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel .carousel-control-next {
    margin: 0;
    background-color: transparent;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.descripcion p {
    background-color: rgba(152, 21, 21, 0.696);
    text-align: center;
    margin: 0;
    padding: 15px;
}