/*?----------------------Pagina Productos------------------*/

/* .page_productos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page_productos main {
  flex: 1;
} */

.parrafo-productos-page {
    background-color: rgba(152, 21, 21, 0.696);
    text-align: center;
}

.parrafo-productos-page p {
    margin: 0;
    padding: 5px;
    font-weight: nth($font-weight,6);
}

.slide .carousel-indicators button {
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel-item h5 {
    color: black;
    margin-bottom: 15px;
}

.carousel-caption {
    text-align: right;
}

.d-none div {
    display: inline-block;
    transition: 0.6s;
}

.d-none div a  {
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1px 15px;
    background-color: rgb(130, 43, 43);
    border-radius: 5px;
    margin-right: 40px;
}

.d-none a:hover {
    color: black;
}

.d-none div:hover {
    transform: scale(1.1);
}

.carousel-indicators {
    margin: 0;
}

.carousel .carousel-control-prev {
    margin: 0;
    background-color: transparent;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel .carousel-control-next {
    margin: 0;
    background-color: transparent;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.descripcion p {
    background-color: rgba(152, 21, 21, 0.696);
    text-align: center;
    margin: 0;
    padding: 15px;
    font-weight: nth($font-weight,6);
}