@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tagesschrift&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*?------------------------body-----------------------*/
body {
  background-color: #717070;
  font-family: "Tagesschrift", system-ui;
  font-family: "Edu SA Hand", cursive !important;
}